<!DOCTYPE html>
<html>
    <head>
        <style>

body {
  background-color: rgb(245, 245, 245);
  margin: 0px;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}


.header  {
  background-image: url('https://openaccessbelgium.files.wordpress.com/2021/02/vierkanteroohyaah.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 620px;
  width: 100%;
  border-top: transparent;
  text-align: center;
  padding-top: 28px;
  box-shadow: 3px 3px 5px 6px #ccc;
  
}

.header h1 {
  font-family: "Gentium Book Basic", Georgia, serif;
  letter-spacing: 0.25em;
  /*font-weight: 800;*/
  
}

.header h1 {
  font-size: 4.8rem;
  text-shadow: 5px 1px 1px black;
  color: white;
}

/***  MIDCONTENT  ***/

.midsection1  {
  text-align: justify;
  margin-bottom: 100px;
}


.midcontent {
  padding: 100px 250px;
  font-size: 2rem;
  max-width: 100%;
}


  .next{
    text-align: center;
  }

  .button {
    background-color: rgb(128, 128, 128);
    width: 100px;
    height: 50px;
    font-size: xx-large;
    margin: auto;
    display: flex;
    display: grid;
}


        </style>

    </head>    
          <body>
            <title>Welcome Page</title>

            <header>
              <div class="header">
                
                <h1 class="hh1">Welcome to the Self Archiving Tool</h1>

              </div>

            </header>

            <div class="midcontent">
              <section class="midsection1">
                <h3>Introduction</h3>
                <p>This Self Archiving tool has been implemented to ensure that the various users of the tool should be
                   able to easily deposit their publications easily to The University of Zambia Institutional Repository. </p>
                
                <p>This tool shall make the depositing of publications easy and thus much more effient than the traditional way.</p><br><br>
                
              
               
                    
                
                <p class="next">Click next to proceed</p> <br>
                <a href="/fileupload"><button class="button">Next</button></a>





          </body>  
</html>