<!DOCTYPE html>
<html>
    <head>
        <style>

body {
  background-color: rgb(245, 245, 245);
  margin: 0px;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}


.header  {
  background-image: url('https://openaccessbelgium.files.wordpress.com/2021/02/vierkanteroohyaah.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 620px;
  width: 100%;
  border-top: transparent;
  text-align: center;
  padding-top: 28px;
  box-shadow: 3px 3px 5px 6px #ccc;
  
}

.header h1 {
  font-family: "Gentium Book Basic", Georgia, serif;
  letter-spacing: 0.25em;
  /*font-weight: 800;*/
  
}

.header h1 {
  font-size: 4.8rem;
  text-shadow: 5px 1px 1px black;
  color: white;
}

/***  MIDCONTENT  ***/

.midsection1  {
  text-align: justify;
  margin-bottom: 100px;
  
}

 h3 {
  text-align: center;
  font-size:50px;
}


.midcontent {
  padding: 100px 250px;
  font-size: 2rem;
  max-width: 100%;
}


  .next{
    text-align: center;
  }

  .button {
    background-color: rgb(128, 128, 128);
    width: 140px;
    height: 50px;
    font-size: xx-large;
    margin: auto;
    display: flex;
    display: grid;
}


        </style>

    </head>    
          <body>
            <title>Welcome Page</title>

            <header>
              <div class="header">
                
                <h1 class="hh1">Welcome to the Self Archiving Tool</h1>

              </div>

            </header>

            <div class="midcontent">
              <section class="midsection1">
                <h3>Introduction</h3>
                <p>This Self Archiving tool is a tool that has been implemented to ensure that the various users of the tool should be
                   able to easily deposit their digital content to The University of Zambia Institutional Repository. </p>

                <p>Institutional Repositories are a specialised type of Digital Libraries implemented by Higher Education
                   Institutions in order to store and make available scholarly research outputs. The University of Zambia
                   (UNZA), like most Higher Education Institutions, has set up an IR (“UNZA Repository Home") which, in
                   part, is used for archiving faculty staff authored pre-prints and post-prints, and Electronic Theses and
                   Dissertations (ETDs)</p>
                   
                <p>Therefore, this tool shall make the depositing of publications easy and thus much more effient than the
                   traditional way.</p><br><br><br>
                
                
                <p class="next">Click the <b>Register</b> button to get started</p> <br>

                <button class="button"><a href="/users/register">Register</a></button>

          </body>  
</html>