        .PDFupload{
           background-color: white;
           padding: 20px;
           border: 3px solid white;
           border-radius: 20px;
           text-align: center;
        }
        .EditUser{
         background-color: white;
         padding: 20px;
         border: 3px solid white;
         border-radius: 20px;
         /* text-align: center; */
      }

        