



<!DOCTYPE html>
<html>
  <head>
   
    <link rel='stylesheet' href='/stylesheets/style.css' />

        <style type="text/css">
        *{
            image-rendering: auto;
        }



        h1{
            color: white;
            padding-left: 300px;
            font-size: 32px;
            font-family: Arial, Helvetica, sans-serif;
            padding-top: 75px;
            
        }

        p{
            color: white;
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
            padding-top: 10px;
            text-align: center;
            padding-left: 345px;


        }

        p ms{

            color: white;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            padding-top: 80px;
            padding-right: 160px;
        
        }

        .intro{
          color: white;
          text-align: center;
          padding-right: 160px;
        }

        </style>


    </head>
  
    
</html>


<h1 class="wel">welcome to the self-achiveportal website</h1>
<p>
    for all unza archives
<br>
    <ms >
        click the get-started or the login link to get started!
    </ms>
</p>

<br>
<h3>Introduction</h3>
<p>This Self Archiving tool is a tool that has been implemented to ensure that the various users of the tool should be
   able to easily deposit their publications easily to The University of Zambia Institutional Repository. </p>

<p>This tool shall make the depositing of publications easy and thus much more effient than the traditional way.</p><br><br>



    




